:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #bdbdbd;
    --primary-color: #dd4a1d;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;   /* 10px */
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    max-width: 1600px;
    width: 100%;
    margin: 0px auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.modal__body {
    margin: auto;
    position: relative;
}

/* Button style */
.btn {
    min-width: 142px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
}

.btn.btn-normal:hover {
    background-color: rgb(207, 207, 207);
}

.btn.btn-primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn-disabled {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}