.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433,#f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0px 8px;
    position: relative;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0px 4px;
}

.header__navbar-item-link,
.header__navbar-item{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item--bold {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #FB9086;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__qr {
    position: absolute;
    background-color: var(--white-color);
    width: 186px;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.4s;
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    display: block;
    content: "";
    top: -12px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header_qr-link:first-child {
    margin-left: 11px;
}

.header_qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

.header__navbar-item--qr:hover .header__qr{
    display: initial;
}


/* header notification */
.header__notify {
    position: absolute;
    top: 150%;
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) 0px;
    animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before{
    content: "";
    border: solid;
    border-width: 20px 40px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -28px;
}

.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 92px;
    height: 20px;
    top: -16px;
    right: 0px;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__navbar-notify:hover .header__notify{
    display: initial;
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0px;
}

.header__notify-item {

}

.header__notify-item:hover {
    background-color: rgba(238, 75, 43, 0.03);
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);
}

.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px 12px;
    text-decoration: none;

}

.header__notify-img {
    height: 48px;
    object-fit: contain;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--black-color);
    font-weight: 400;
}

.header__notify-description {
    font-size: 1.2rem;
    color: #a19e9e;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    font-weight: 400;
    margin: auto;
    padding: 12px 128px;
    color: var(--black-color);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}


/* Authen modal */
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0px 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.auth-form__heading {
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4px;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary-color);
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
    outline: none;
}

.auth-form__input:focus{
    border-color: #888;
}

.auth-form__aside {
    margin-top: 20px;
    padding: 0 12px;
}

.auth-form__policy-text {
    font-size: 1.4rem;
    text-align: center;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}

.auth-form__control {
    margin: 100px 0 20px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back{
    margin-right: 8px;
}

.auth-form__social {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
}

.btn.btn--size-s {
    height: 32px;
    font-size: 1.2rem;
    line-height: 0px;
}

.auth-form__social-icon {
    font-size: 2rem;
}

.fa-facebook-square {
    color: var(--white-color);
}

.auth-form__social--facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}

.auth-form__social-title {
    margin: 0 32px;
}

.auth-form__social--google {
    background-color: var(--white-color);
}