.header {
    height: 120px;
    background-image: linear-gradient(0, #fe6433,#f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 4px;
}

.header__navbar-item {
    margin: 0px 8px;
    position: relative;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover {
    color: rgba(255,255,255,0.8);
    cursor: pointer;
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
}

.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0px 4px;
}

.header__navbar-item-link,
.header__navbar-item{
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
    display: inline-flex;
    align-items: center;
}

.header__navbar-item--bold {
    font-weight: 500;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #FB9086;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color);
}

.header__qr {
    position: absolute;
    background-color: var(--white-color);
    width: 186px;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.4s;
}

.header__qr::before {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    display: block;
    content: "";
    top: -12px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header_qr-link:first-child {
    margin-left: 11px;
}

.header_qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

.header__navbar-item--qr:hover .header__qr{
    display: initial;
}